<form method="post" action="{{ path('app_session_delete', {'id': session.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cette session ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ session.id) }}">
    <button class="button button-perso-danger">Supprimer</button>
</form>
